.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

ul {
  list-style: none; }

header {
  background: honeydew;
  height: 70px;
  padding: 0 20px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between; }

.artists-dropdown {
  display: none;
  width: auto;
  background-color: pink;
  position: absolute;
  top: 70px;
  right: 0;
  text-align: right;
  padding-bottom: 10px; }

.artists-menu {
  height: 70px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.artists-menu:hover .artists-dropdown {
  display: block; }

li:first-child {
  border-top: none; }

li {
  padding: 10px 20px 0; }

.main {
  display: flex;
  flex-wrap: wrap; }

.album-card {
  height: calc(300px + 100px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

.album-art {
  height: 300px;
  width: 300px; }

.album-info {
  position: absolute;
  top: 300px;
  width: 100%;
  transition: top .5s ease-in-out; }

.album-card:hover .album-info {
  top: 0; }

.album-info-title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 26px; }

.album-info-content {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }

.album-cover {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/4b/My_Bloody_Valentine_-_Loveless.png");
  height: 300px;
  width: 300px;
  position: absolute; }

.album-rating {
  z-index: 2;
  color: white; }

.album-cover-image {
  filter: brightness(50%); }

/*# sourceMappingURL=styles.css.map */
