.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-card {
  height: calc(#{$album-art-height} + #{$album-info-title-height});
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.album-art {
  height: $album-art-height;
  width: $album-art-height;
}

.album-info {
  position: absolute;
  top: $album-art-height;
  width: 100%;
  transition: top .5s ease-in-out;
}

.album-card:hover .album-info {
  top: 0;
}

.album-info-title {
  background: black;
  color: #FFF;
  height: $album-info-title-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: $album-info-title-padding;
}

.album-info-content {
  height: $album-art-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover {
  height: $album-art-height;
  width: $album-art-height;
  position: absolute;
}

.album-rating {
  z-index: 2;
  color: white;
}

.album-cover-image {
  filter: brightness(50%);
}
