// Breakpoint Variables-----------------
$breakpoint-sm: 'screen and (min-width:1px)';
$breakpoint-md: 'screen and (min-width:768px)';
$breakpoint-lg: 'screen and (min-width:1024px)';
$breakpoint-xl: 'screen and (min-width:1440px)';

$breakpoints: (
  'sm':'#{$breakpoint-sm}',
  'md':'#{$breakpoint-md}',
  'lg':'#{$breakpoint-lg}',
  'xl':'#{$breakpoint-xl}'
);

// Component Variables-----------------
// Header
$header-background: honeydew;
$header-height: 70px;
$header-padding: 0 20px;
$dropdown-padding: 10px 20px 0;
